/* ********************* */
/* All Photos used are owned by Don Cosio */
/* ********************** */

/* variables */
:root {
  --rich-black: #000411;
  --blue: #2d93ad;
  --pumpkin: #f5853f;
  --magenta: #912f56;
  --cream: #eaf2ef;
  --dark-green: #002e2c;
  --chamoise: #91785d;
  --bittersweet: #f97068;
  --yellowish: #fcf300;
  --peach: #d8b3b2;
}

/* Reset */
html,
body {
  background-color: var(--rich-black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
  min-width: 320px;
}

/* start of fade in of load of the page */

main {
  animation: fadein 3s;
  max-width: 1024px;
  margin: auto;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* end of fade in of load of the page */

/* start of header and nav css */
header {
  position: sticky;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

.nav-active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

nav li {
  display: inline-block;
  list-style: none;
}
nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 12px;
}

nav a {
  color: var(--cream);
  text-transform: uppercase;
  margin: 0 0.5rem;
}

nav a:hover,
nav a:focus {
  background-color: #e91e63;
  color: #fff;
  transition: background-color 1s;
  place-content: center;
  background: linear-gradient(90deg, #3f51b5, transparent) #2d93ad;
  border-radius: 5rem;
}
/* end of header and nav css */

/* start of hero */
.profile {
  height: 80px;
  width: 80px;
  display: block;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.hero h2 {
  color: var(--cream);
  text-align: center;
  margin-bottom: 0;
}
.hero h2 span {
  color: var(--pumpkin);
}

.hero p {
  color: var(--cream);
  opacity: 0.5;
  text-align: center;
  margin: 0;
}

.hero {
  color: var(--cream);
}

.hero-text {
  text-align: center;
  margin-top: 1rem;
}
.hero-text p {
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.word {
  animation: color-animation 4s linear infinite;
}

.design {
  --color-1: var(--magenta);
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.develop {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.test {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: var(--bittersweet);
}

.deploy {
  --color-1: #3d8dae;
  --color-2: var(--dark-green);
  --color-3: var(--chamoise);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
/* end of hero */

/* start of tilt effect on about me photo*/
.box {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(./assets/don.jpg) 50% 50% / cover no-repeat;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
  border-radius: 10%;
}

.box-contents:hover {
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border-radius: 10%;
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(2):hover ~ .box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(3):hover ~ .box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(4):hover ~ .box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(6):hover ~ .box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(7):hover ~ .box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}
.hover-point:nth-child(8):hover ~ .box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
  box-shadow: 0 0 50px gold, 0 0 150px gold;
}

/* end of tilt effect */

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 20px 40px;

  text-shadow: 0px 1px 0px #000;
  /* filter: dropshadow(color=#000, offx=0px, offy=1px); */
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}

#about {
  display: block;
}

.hr {
  max-width: 200px;
  height: 6px;
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  border-radius: 50px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.query {
  letter-spacing: 4px;
  color: var(--bittersweet);
  text-transform: uppercase;
  text-align: center;
}

#contact h1 {
  color: var(--cream);
  padding: 0.5rem 0;
  text-align: center;
  margin: 2rem;
}
.head-info {
  color: var(--cream);
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  text-align: center;
}
.query-desc {
  color: var(--cream);
  padding: 1rem;
  text-align: justify;
}

.fullstack {
  color: var(--blue);
}
.fortune {
  color: var(--yellowish);
}

/* start of scroll transition */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* end of scroll transition */

/* Start of download CV effect */

.cv {
  text-align: center;
  margin: 2rem 0;
  animation: bounce 2s infinite alternate;
}
@keyframes bounce {
  to {
    transform: scale(0.9);
  }
}
.cv a {
  color: var(--cream);
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--chamoise);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
}

/* End of download CV effect */

/* Start of skills & experiences*/
.tab {
  text-align: center;
  margin-bottom: 3rem;
}
.tab button {
  background-color: var(--cream);
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--rich-black);
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}
.tab button.active {
  background-color: var(--pumpkin);
  color: var(--cream);
}

#Experiences {
  color: white;
}

.tabContent {
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.skills-grid i {
  color: white;
  font-size: 5rem;
  text-align: center;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.experience-grid {
  text-align: center;
}

.experience-grid h4,
.experience-grid .company {
  margin: 0;
}

.company {
  color: gray;
}

.experience-grid hr {
  width: 10px;
  border: 1px solid var(--yellowish);
}

.square i {
  color: white;
  cursor: pointer;
  visibility: hidden;
  vertical-align: middle;
  font-size: 1rem;
  padding-top: 35%;
  margin: auto;
}

.square {
  text-align: center;
  width: 50vw;
  height: 40vw;
}

.square {
  margin: auto;
}

.square:hover i {
  visibility: visible;
}

.square:hover {
  background: var(--chamoise);
  transition: 2s;
}

.dashboard {
  background: url(./assets/dashboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}

.shoretrade {
  background: url(./assets/shoretrade.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}

.martec {
  background: url(./assets/martec.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}
.airbnb {
  background: url(./assets/airbnb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}
.gmail {
  background: url(./assets/gmail.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}
.linkedin {
  background: url(./assets/linkedin.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1rem;
}
/* End of skills & experiences*/

/* Start of Footer */

.contact-grid {
  background-color: var(--cream);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.left div {
  display: flex;
  margin-bottom: 1rem;
}

.left div p {
  margin: 0;
  padding-left: 10px;
}

.contact-field {
  width: 100%;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  outline: none;
  background-color: whitesmoke;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.contact-field:hover,
.contact-field:focus {
  background-color: var(--blue);
  color: var(--cream);
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 500px;
}

#submitBtn {
  background: var(--chamoise);
  color: var(--cream);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#submitBtn:hover {
  transform: scale(0.95);
}

footer .copyright {
  color: var(--cream);
  text-align: center;
}

/* End of Footer */

/* Tablet */
@media screen and (min-width: 600px) {
  nav a {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .query-desc {
    margin-right: 2rem;
    padding: 0;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
  }

  .experience-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .experience-grid div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
  }

  .experience-grid div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    width: 200px;
  }

  .experience-grid div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
  }
  .experience-grid div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
    width: 200px;
  }
  .experience-grid div:nth-child(5) {
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
  }
  .experience-grid div:nth-child(6) {
    grid-area: 3 / 2 / 4 / 3;
    width: 200px;
  }

  .experience-grid hr {
    display: none;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .square {
    text-align: center;
    width: 40vw;
    height: 30vw;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    padding: 1rem 3rem;
  }
  .name {
    display: flex;
  }
  .mobile-email {
    display: flex;
  }

  .contact-field {
    line-height: 2;
    border-radius: 4px;
  }

  #lastName,
  #email {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 990px) {
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1024px;
  }

  .square {
    text-align: center;
    width: 20rem;
    height: 15rem;
  }
}
